.nav-bar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: auto;
}

.nav-button:hover {
  color: #d1c4e9;
}

.contact-banner, .about-banner {
  display:flex;
  width: 100vw;
  height: 30vh;
  align-items: center;
  justify-content: space-around;
}

.contact-banner-image, .about-banner-image {
  width: 100vw;
  height: 30vh;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.contact-banner-text, .about-banner-text {
  z-index: 2;
  position: absolute;
  font-size: x-large;
}

.contact-block {
  height: 30vh;
  width: calc((100vw)/3);
  display: flex;
  padding-top: 20px;
  justify-content: center;
}

.contact-description {
  align-items: center;
  padding-top: 0px;
}

.contact-details, .work-links {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer {
  width: 100vw;
  height: 30vh;
  overflow: hidden;
}

.footer-image {
  width: 100vw;
  object-fit: contain;
  object-position: bottom;
}

.section-container {
  width: 100vw;
}

.project-title {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .nav-small {
    display: none;
  }

  .nav-big {
    display: flex;
  }

  .contact-info {
    display: flex;
  }

  .section-container {
    padding: 6vw;
  }
}

@media screen and (max-width: 799px) {
  .nav-small {
    display: flex;
  }

  .nav-big {
    display: none;
  }

  .contact-info {
    display: block;
  }

  .contact-block {
    width: 100vw
  }

  .section-container {
    padding: 10vw;
  }
}